/* body, html {
    height: 100%;
    margin: 0;
} */

body {
    max-height: 100vh;
    font-family: Arial, sans-serif;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:  #200833;
}

/*---------------- container css ---------------- */
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    /* max-width: 50vw; */
    /* height: 100vh; */
    padding: 5px;
    justify-self: center;
}

/*---------------- all three section css ---------------- */
section {
    margin: 1rem;
}

/*---------------- top section css ---------------- */
.topSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #EDDA59;
    margin-bottom: 1rem;
}

.topSection div:nth-child(1) {
    font-weight: bolder;
    font-size: 1.5rem;
}

/* .topSection div:nth-child(2) {
    font-size: 10px;
    line-height: 1;
} */

.ToggleDiv {
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    line-height: 1;
}
.ToggleDiv p{
    margin-bottom: 3px;
}

.ToggleStages {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
   /* Align items at the bottom */
}

.ToggleStages li {
    list-style: none;
    float: left;
    margin: 6px 7px;
    font-size: 10px;
}

/* Style for the toggle */
.toggle-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Style for the individual stages */
.switch-toggle {
    width: 60px;
    height: 18px;
    float: left;
    background: #331B4D;
    border-radius: 20px;
}

.switch-toggle input {
    position: absolute;
    opacity: 0;
}

.switch-toggle input + label {
    padding: 7px;
    float: left;
    color: #fff;
    cursor: pointer;
}

.switch-toggle input:checked + label {
    background: #c45623;
    border-radius: 50%;
    margin: 2px 9px;
    cursor: pointer;
}

  

/*---------------- display section css ---------------- */

.displayRow {
    background-color:  #250b41;
    height: 60px;
    padding: 10px 20px;
    margin-top: 0 !important;
    border-radius: 5px;

}

.displayRow input {
    text-align: right;
    background-color: unset;
    border: unset;
    color: #EDDA59;
    font-weight: bolder;
    font-size: 1.8rem;
    height: 60px;
    width: 100%;
}

.displayRow input:focus {
    outline: none;
}

/*---------------- btn section css ---------------- */

.buttonSection {
    background-color: #250b41;
    padding: 10px;
    border-radius: 5px;
}

.divRow {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    flex: 1;
    margin: 8px;
    padding: 10px;
    text-align: center;
    color: #EDDA59;
    background-color: #331B4D;
    font-size: 1.5rem;
    font-weight:900;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 3px solid #56077D;
}


/*----------------  css on operatr btns for adjust width ---------------- */

/* .dotbtn, .minusbtn, .dividebtn,  .multiplybtn{
    width: 50px;
} */

.delbtn {
    /* padding: 7px; */
    color: white;
    background-color: rgb(86, 8, 125);
    border-color: #863aaf;
    
}


.resetbtn {
    color: white;
    background-color: #56077D;
    border-color: #863aaf;
    /* width:124px; */
}

.assignmentbtn {
    background-color: #31aaa2;
    border-color: #31aaa2 ;
    /* width: 124px; */
}

/*---------------- toggle css ---------------- */

.bodyToggle{
    background-color: #3B4664 !important;
}

.deltogglebtn,
.resettogglebtn {
    background-color: #65739B !important;
    color: white !important;
    border-color: #3B4664 !important;
}

.assignmenttogglebtn {
    background-color: #c45623 !important;
    color: white !important;
    border-color: #c45623 !important;
}

.btntoggle {
    background-color: rgba(255, 255, 255, 0.767) ;
    color: #252E44 ;
    border-color: #9b9365 ;
    /* box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5); */
}

/* .containerToggle {
    background-color: #3B4664 !important;
} */

.buttonSectionToogle {
    background-color: #1F2D43 !important;
}

.topSectionToggle {

    color: white;
}

.displayRowToggle {
    background-color: #1F2D43 !important;
    color: white !important;
}








/*---------------- media qurey css ---------------- */
@media (max-width: 400px) {
    .delbtn {
        padding-left: 9.5px !important;
        padding-right: 9.5px;

    }
}

@media (max-width: 340px) {
    .delbtn {
        font-size: calc(3vw + 4px);

    }
}